<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item button (click)="changeCurrency()">
      <ion-label>Change Currency (Current: {{ currency }})</ion-label>
    </ion-item>
    <ion-item button (click)="toggleNotifications()">
      <ion-label>Enable/Disable Notifications</ion-label>
    </ion-item>
    <ion-item button (click)="exportData()">
      <ion-label>Export Subscription Data</ion-label>
    </ion-item>   
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/calendar">
        <ion-label>Calendar</ion-label>
      </ion-button>
      <ion-button routerLink="/home">
        <ion-label>Dashboard</ion-label>
      </ion-button>
      <ion-button routerLink="/settings">
        <ion-label>Settings</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
